body
{
	margin: 0;
	padding: 0;
	color: #000;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: url("/images/main_fon.jpg") top center no-repeat;
}

#page
{
	margin-top: 5px;
    min-height: 965px;
    min-width: 1000px;

}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 10px 20px 20px;
    background: url("/images/content_fon_8.png") repeat;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
    display: none;
}

#logo
{
	margin: 30px 0 50px 0;
	background-color: #fff;
    width: 67px;
    height: 23px;
    padding-top: 5px;
    text-align: center;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;

}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:0 8px;
}
 /*Замена картинки происходит в js-файле*/
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background: url("/images/menu_fon.png") bottom left repeat-x;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
h1, h1, h3 {
    color: #555;
}
#indexContent {
    margin-top: 15px;
}
#indexContent table {
    border: #555 solid;
    border-width: 1px 1px 0 0;
    width: 400px;
}
#indexContent table td {
    border: #555 solid;
    border-width: 0 0 1px 1px;
}
/*#indexContent table td a {
    text-decoration: underline;
}*/