#mainmenu {
    width: 1050px;
    margin: 0 auto;
}
#ulMenu {
    width: 100%;
}
#ulMenu li {
    margin: 0;
    display: inline-block;
}
#ulSubMenu li {
    margin: 0 3px;
    display: inline-block;
}
#ulSubMenu {
    list-style: none;
    margin: 0;
    padding: 0;
}